*{
    margin: 0;
    padding: 0;
}
.divider{
    display: flex;
    align-items: center;
    text-align: center;
    color: #333;
}

.divider::before,
.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid;
    margin: 0% 10px;
}